@model IEnumerable<SimpleCRUD2.Models.CourseModel>

<h2>Courses list:</h2>

@foreach (var course in Model)
{
    <div id="@course.CourseId">
        @Html.ActionLink(course.Name, "CourseInfo", "Moder", new { name = course.Name }, new { })

        @if (User.IsInRole("admin"))
        {
            <button id="remove" data-id="@course.CourseId" class="btn btn-danger btn-xs">Remove</button>
            @Html.ActionLink("Save as Xml file", "SaveCourseToXml", "Course", new { name = course.Name }, new { @class = "btn btn-info btn-xs" })
        }
    </div>
}
<br />
<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>

@section scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {

            $('button#remove').click(function () {

                var courseId = $(this).attr('data-id');
                var course = $('div#' + courseId);

                var data = new FormData();
                data.append('courseId', courseId);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteCourseAjax", "Course")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        course.addClass('hidden');
                        alert('The course removed');
                    },
                    error: function (xhr, status, p3) {
                        alert(xhr.responsetext);
                    }
                });
            });

        });
    </script>
}