@model SimpleCRUD2.Models.ViewModels.CourseViewModels.AddLessonsViewModel

<h2>Lessons list:</h2>

@foreach (var lesson in Model.CourseModel.Lessons)
{
    <h4 id="@lesson.LessonId">@lesson.Name @lesson.DateTime <button id="remove" data-id="@lesson.LessonId" class="btn btn-danger btn-xs">Remove</button></h4>
}

<h2>Adding lessons</h2>

@using (Html.BeginForm("AddLessonsToCourse", "Course", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.HiddenFor(_ => _.CourseModel.Name)
    <div>
        <div>
            @Html.LabelFor(_ => _.LessonModel.Name)
        </div>
        <div>
            @Html.EditorFor(_ => _.LessonModel.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(_ => _.LessonModel.DateTime)
        <div>
            @Html.EditorFor(_ => _.LessonModel.DateTime, new { htmlAttributes = new { @type = "datetime-local"} })
        </div>
    </div>
        <div>
            <div>
                @Html.Label("Enough lessons")
            </div>
            <div>
                @Html.EditorFor(_ => _.CourseModel.IsDone)
            </div>
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Add lesson" class="btn btn-default" />
        </div>
}

@section scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {

            $('button#remove').click(function () {

                var lessonId = $(this).attr('data-id');
                var lesson = $('h4#' + lessonId);

                var data = new FormData();
                data.append('lessonId', lessonId);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RemoveLessonAjax", "Course")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        lesson.addClass('hidden');
                        alert('The lesson removed');
                    },
                    error: function (xhr, status, p3) {
                        alert(xhr.responsetext);
                    }
                });
            });

        });
    </script>
}