@model SimpleCRUD2.Models.CourseModel

<h2>Create course</h2>

@using (Html.BeginForm("CreateCourse", "Course", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div>
        <div>
            @Html.LabelFor(_ => _.Name)
        </div>
        <div>
            @Html.EditorFor(_ => _.Name)
        </div>
    </div>
    <br />
    <div class="form-actions no-color">
        <input type="submit" value="Create" class="btn btn-danger" />
    </div>
}
<br />
<div>
    or get course from XML file
</div>

<br />
<div>
    <form action="@Url.Action("GetCourseFromXmlFile", "Course")" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <input type="file" name="xmlFile" lang="en-us" />
        <br />
        <input type="submit" name="submit" value="Open file" class="btn btn-primary" />
    </form>
</div>

<div>
    <br />
    @Html.ActionLink("Back to List", "Index", "Home")
</div>

