@model SimpleCRUD2.Models.ViewModels.IndexViewModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br />
    <table class="table table-striped table-hover" border="1" cellpadding="2">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Location</th>
                <th>Birthday</th>
                @if (User.IsInRole("moder"))
                {
                    <th>@Html.ActionLink("Open journal", "OpenJournal", "Moder", new { }, new { @class = "btn btn-success btn-sm" })</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>
                        @user.Name
                        <input type="hidden" value="@user.UserId" />
                    </td>
                    <td>
                        @user.Surname
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.Location
                    </td>
                    <td>
                        @if (user.Birthday != null)
                        {
                            @user.Birthday.Value.ToShortDateString();
                        }
                        else
                        {
                            <span>Empty</span>
                        }
                    </td>

                    @if (User.IsInRole("moder") && User.Identity.Name != user.Email)
                    {
                        <td>
                            @Html.ActionLink("Edit", "EditUserInfo", "Home", new { id = user.UserId }, new { @class = "btn btn-info btn-xs" })
                            @Html.ActionLink("Delete", "DeleteUser", "Home", new { id = user.UserId }, new { @class = "btn btn-danger btn-xs" })
                        </td>
                    } else
                    {
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>

    @Html.Partial("_Pagination", Model.PageInfo)
</body>
</html>